:root {
    --purple: purple;
    --red: red;
    --green: lime;
}

html {
    background-color: var(--purple);
}

body {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
    color: var(--purple);
}

#heading {
    padding-top: 2em;
    text-align: center;
}

#heading h1 {
    margin: 0 auto;
}

#content {
    text-align: center;
}

#archbois {
    position: relative;
    top: 12em;
}

#footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 80vw;
    bottom: 0;
}